<h3>Votre compte à été crée !</h3>
Bonjour {{ username }}! Vous pouvez maintenant accèder au site de la LAN des SIOS.
<br/>
Username : {{ username }}
<br/>
Password : {{ password }}
<br/>
Le site de la lan se trouve actuellement sous l'adresse 137.74.197.197, ou lan.sio57.info
<br/>
Si vous avez un quelconque problème concernant votre connexion vous pouvez répondre a ce mail pour formuler votre demande.
Merci !