<h3>Votre compte à été recréer !</h3>
Désolé du dérangement le dernier email à été envoyé par une fonction qui chargait un .csv avec une erreur de synthaxe.
Bonjour {{ username }}! Vous pouvez maintenant accèder au site de la LAN des SIOS.
<br/>
Username : {{ username }}
<br/>
Password : {{ password }}
<br/>
Le site de la lan se trouve actuellement sous l'adresse 137.74.197.197, le DNS n'étant pas encore en place
<br/>
Si vous avez un quelconque problème concernant votre connexion vous pouvez répondre a ce mail pour formuler votre demande.
Merci !