<h3>Votre compte à été crée !</h3>
Bonjour {{ lastName }} {{ firstName }}!
<br/>
La gestion de l'invité est complète à présent, il faut savoir que si votre invité,
<br/><br/>
ou vous, comptez ramené du matériel que vous laisserez à disposition des autres
participants vous pouvez les renseignez dans la partie équipement du site pour que les autres participants puissent voir les équipements qui seront ramenés
<br/><br/>
Veuillez aussi renseigner les équipements dont vous ( partie équipement du site ) et votre invité ( partie invité ) auriez besoin d'emprunté ( Ecran, Sourie, Clavier, Cable Ethernet ) afin qu'on puisse préparer le nécessaire le 31.
<br/><br/>
Le discord de la LAN est officiellement "OUVERT", vous pouvez commencer à poster, planifier ou demander ce que vous voulez. ( sans exagérer non plus )
<br/><br/>
Si vous comptez ramener un jeu sur support dématérialisé (Fifa, Halo, NBA2K, Battlefield ...) une section est là pour prévenir les autres sur le Discord de la LAN ( Section jeux_rapporté ). Veuillez ne poster que des messages concernant les jeux que vous ramener
<br/><br/>
Concernant les tournois vous pouvez en discuter dans la partie Tournoi du Discord.
<br/><br/><br/><br/>
Le site de la lan se trouve actuellement sous l'adresse 137.74.197.197, ou lan.sio57.info
<br/><br/>
Merci !