{% extends '::base.html.twig' %}
{% block body %}
    {% include 'AdminBundle:component:sideMenu.html.twig' %}
    <div class="content">
        <div class="panel-default">
            <h1>gfdg</h1>
        </div>
    </div>
{% endblock %}
