<div class="sideMenu">
    <ul>
        <li>
            <a href="#">TEST</a>
        </li>
        <li>
            <a href="#">TEST</a>
        </li><li>
            <a href="#">TEST</a>
        </li><li>
            <a href="#">TEST</a>
        </li>
    </ul>
</div>