<div class="sideMenu">
    <div class="enteteMenu">
        LAN des SIO
    </div>
    <ul>
        <li><a href="{{ path('admin_list_game') }}">Liste des jeux</a></li>
        <li><a href="{{ path('admin_add_game') }}">Ajouter un jeu</a></li>
        <li><a href="{{ path('admin_dashboard') }}">Liste des utilisateur</a></li>
    </ul>
</div>