{% extends '::base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/admin.css') }}" />
{% endblock %}
{% block body %}
    {% include 'AdminBundle:component:topNavbar.html.twig' %}
    <div class="container-fluid">
        <div class="row">
            {% include 'AdminBundle:component:sideMenu.html.twig' %}

            <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
                <h1>Liste des plateformes :</h1>

                <section class="mx-auto row text-center">
                    <table class="table table-hover table-striped">
                        <thead>
                        <td><b>Code</b></td>
                        <td><b>Libelle</b></td>
                        <td><b>Actions</b></td>
                        </thead>

                        {% for platform in platforms %}
                            <tr>
                                <td>{{ platform.code }}</td>
                                <td>{{ platform.wording }}</td>
                                <td><a href="{{ path('admin_modify_platform', {'platform' : platform.id}) }}" class="btn btn-primary">Modifier</a></td>
                            </tr>
                        {% endfor %}
                    </table>
                </section>
            </main>
        </div>
    </div>
{% endblock %}