body {
    background: url('../img/Draven.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.panel-default {
    opacity : 0.9;
    border: 0px !important;
}


.black {
    background-color: #2c3035;
    color : white;
}