.navbar a {
    color: #fff;
    text-decoration: none; }
.navbar ul a {
    margin-right: 4rem;
    margin-top: 0.6rem;
    display: inline-block; }
.navbar img {
    width: 3rem; }

/*
 * Sidebar
 */

/*
 * Sidebar
 */
.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; }

/* Sidebar navigation */
.sidebar {
    padding-left: 0;
    padding-right: 0;
    background-color: #2C2F33; }
.sidebar .nav {
    margin-bottom: 20px; }
.sidebar .nav-item {
    width: 100%; }
.sidebar .nav-item + .nav-item {
    margin-left: 0; }
.sidebar .nav-link {
    border-radius: 0;
    color: #fff;
    font-size: x-large;
    border-bottom: 1px solid #fff; }
.sidebar .last-link {
    border-bottom: none; }