{% extends '::base.html.twig' %}
{% block body %}
    {% include 'AdminBundle:component:sideMenu.html.twig' %}
    <h3>Ajouter un utilisateur:</h3>
    {% if successMessage is not empty %}
        <div class="alert alert-success" role="alert">{{ successMessage }}</div>
    {% endif %}
    {% include 'UserBundle:Registration:register_content.html.twig' %}
{% endblock %}