<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">ESPACE MEMBRE</a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <div class="mr-auto"></div>
        <ul class="navbar-nav text-left">
            <li class="dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <b>{{ user.username|upper }}</b>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" style="color: black" href="#">Profil</a>
                    <a class="dropdown-item" style="color: black" href="{{ path('fos_user_security_logout') }}">Deconnexion</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
